<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= 'Mailee.me Help - ' + (yield(:page_title) || 'Mailee.me Help') %></title>
    <link rel="shortcut icon" href="images/help-favicon.ico" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:bold' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="files/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="files/stylesheets/syntax.css" />
    <link rel="stylesheet" type="text/css" href="files/stylesheets/print.css" media="print" />
    <script type="text/javascript" src="files/javascripts/guides.js"></script>
    <script type="text/javascript" src="files/javascripts/code_highlighter.js"></script>
    <script type="text/javascript" src="files/javascripts/highlighters.js"></script>
  </head>
  <body class="guide">
    <div id="topNav">
      <div class="wrapper">
        <strong>Mais em <a href="http://www.mailee.me/">mailee.me:</a> </strong>
        <a href="http://www.mailee.me/recursos">Recursos</a> |
        <a href="http://www.mailee.me/precos">Preços</a> |
        <a href="http://www.mailee.me/cadastro">Cadastro</a>
      </div>
    </div>
    <div id="header">
      <div class="header_wrapper">
        <div class="wrapper clearfix">
          <h1><a href="index.html" title="Guides">Mailee.me Help</a></h1>
          <p class="hide"><a href="#mainCol">Skip navigation</a>.</p>
          <ul class="nav">
            <li><a href="index.html">Home</a></li>
            <li class="index">
              <a href="index.html" onclick="guideMenu(); return false;" id="guidesMenu">Índice</a>
              <div id="guides" class="clearfix" style="display: none;">
                <hr />
                <dl class="L">
                  <dt>Começe aqui</dt>
                  <dd><a href="getting_started.html">Iniciando com o Mailee.me</a></dd>
                  <dt>Templates</dt>
                  <dd><a href="templates_creating.html">Como criar templates</a></dd>
                  <dd><a href="templates_uploading.html">Como realizar <em>upload</em> de templates</a></dd>
                  <!-- <dd><a href="templates_good_practices.html">Conheça boas práticas na criação de email marketing em HTML</a></dd> -->
									<dt>Contatos</dt>
                  <dd><a href="contacts_new.html">Cadastro de contatos</a></dd>
									<dd><a href="contacts_status.html">Status dos contatos</a></dd>
									<dd><a href="contacts_custom_fields.html">Campos personalizados</a></dd>
									<dd><a href="contacts_remove.html">Remoção de contatos</a></dd>
									<dd><a href="lists_management.html">Gerenciamento de listas</a></dd>
									<dd><a href="segmentation.html">O que é segmentação e como usar</a></dd>
									<dt>Configuração</dt>
									<dd><a href="payments.html">Realização de pagamentos</a></dd>
									<dd><a href="config.links.html">Links personalizados nas mensanges</a></dd>
									<dd><a href="logo_change.html">Use seu logo no Mailee.me</a></dd>
									<dd><a href="users.html">Adicione usuários</a></dd>
                </dl>
                <dl class="R">
                  <dt>Importação</dt>
									<dd><a href="import_quick.html">Importando rápido</a></dd>
									<dd><a href="import_gmail.html">Importando do GMAIL</a></dd>
                  <dd><a href="import_spreadsheet.html">Importando de planilhas</a></dd>
									<dt>Campanhas e mensagens</dt>
									<dd><a href="what_is_a_campaign.html">O que é uma campanha</a></dd>
                  <dd><a href="message_new.html">Criando uma mensagem</a></dd>
									<dd><a href="analytics.html">Acesse os relatórios</a></dd>
                  <dt>Integração</dt>
                  <dd><a href="integration_form.html">Formulários na sua página</a></dd>
									<dd><a href="integration_rest.html">API REST</a></dd>
                  <dd><a href="integration_rails.html">Integrando com Ruby on Rails</a></dd>
                  <dd><a href="integration_php.html">Integrando com PHP</a></dd>
                  <dd><a href="integration_spree.html">Integrando com Spree</a></dd>
									<dd><a href="analytics.html">Integrando com o Google Analytics</a></dd>
                </dl>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="feature">
      <div class="wrapper">
        <%= yield :header_section %>
        <%= yield :index_section %>
      </div>
    </div>
    <div id="container">
      <div class="wrapper">
        <div id="mainCol"><%= yield %></div>
      </div>
    </div>
    <hr class="hide">
    <div id="footer">
      <div class="wrapper">
        <p>Este trabalho é licenciado como <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0</a></p>
      </div>
    </div>
  </body>
</html>
