<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-BR" lang="pt-BR">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= 'Mailee.me Help - ' + (yield(:page_title) || 'Mailee.me Help') %></title>
    <link rel="shortcut icon" href="images/help-favicon.ico" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:bold' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="files/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="files/stylesheets/syntax.css" />
    <link rel="stylesheet" type="text/css" href="files/stylesheets/print.css" media="print" />
    <script type="text/javascript" src="files/javascripts/guides.js"></script>
    <script type="text/javascript" src="files/javascripts/code_highlighter.js"></script>
    <script type="text/javascript" src="files/javascripts/highlighters.js"></script>
  </head>
  <body class="guide">
    <div id="topNav">
      <div class="wrapper">
        <strong>Mais em <a href="http://mailee.me/">Mailee.me:</a> </strong>
        <a href="http://mailee.me/recursos.html">Recursos</a> |
        <a href="http://mailee.me/precos.html">Preços</a> |
        <a href="http://mailee.me/cadastro.html">Cadastro</a>
      </div>
    </div>
    <div id="header">
      <div class="header_wrapper">
        <div class="wrapper clearfix">
          <h1><a href="index.html" title="Guides">Mailee.me Help</a></h1>
          <p class="hide"><a href="#mainCol">Skip navigation</a>.</p>
          <ul class="nav">
            <li><a href="index.html">Home</a></li>
            <li class="index">
              <a href="index.html" onclick="guideMenu(); return false;" id="guidesMenu">Índice</a>
              <div id="guides" class="clearfix" style="display: none;">
                <hr />
                <dl class="L">
                  <dt>Começe aqui</dt>
                  <dd><a href="getting_started.html">Iniciando com o Mailee.me</a></dd>
                  <dt>Templates</dt>
                  <dd><a href="templates_creating.html">Como criar templates</a></dd>
                  <dd><a href="templates_uploading.html">Como realizar <em>upload</em> de templates</a></dd>
                  <dt>Contatos</dt>
                  <dd><a href="contacts_new.html">Cadastro de contatos</a></dd>
                  <dd><a href="contacts_status.html">Status dos contatos</a></dd>
                  <dd><a href="contacts_custom_fields.html">Campos personalizados</a></dd>
                  <dd><a href="contacts_remove.html">Remoção de contatos</a></dd>
                  <dd><a href="lists_management.html">Gerenciamento de listas</a></dd>
                  <dd><a href="segmentation.html">O que é segmentação e como usar</a></dd>
                  <dt>Configuração</dt>
                  <dd><a href="config_spf.html">Configurando o SPF</a></dd>
                  <dd><a href="payment.html">Realização de pagamentos</a></dd>
                  <dd><a href="config_links.html">Links personalizados nas mensanges</a></dd>
                  <dd><a href="config_config.html">Configurações de conta</a></dd>
                  <dd><a href="users.html">Adicione usuários</a></dd>
                  <dt>Importação</dt>
                  <dd><a href="import_quick.html">Importando rápido</a></dd>
                  <!-- <dd><a href="import_gmail.html">Importando do GMAIL</a></dd> -->
                  <dd><a href="import_spreadsheet.html">Importando de planilhas</a></dd>
                </dl>
                <dl class="R">
                  <dt>Campanhas e mensagens</dt>
                  <dd><a href="what_is_a_campaign.html">O que é uma campanha</a></dd>
                  <dd><a href="message_new.html">Criando uma campanha</a></dd>
                  <dd><a href="message_edit.html">Editando as suas mensagens</a></dd>
                  <dd><a href="message_verify.html">Conferindo o conteúdo das mensagens</a></dd>
                  <dd><a href="message_test.html">Testando suas mensagens</a></dd>
                  <dd><a href="message_send.html">Como enviar suas mensagens</a></dd>
                  <dd><a href="reports.html">Acesse os relatórios</a></dd>
                  <dt>Integração</dt>
                  <dd><a href="integration_form.html">Formulários na sua página</a></dd>
                  <dd><a href="integration_rest.html">API REST</a></dd>
                  <dd><a href="integration_rails.html">Integrando com Ruby on Rails</a></dd>
                  <dd><a href="integration_php.html">Integrando com PHP</a></dd>
                  <dd><a href="integration_spree.html">Integrando com Spree</a></dd>
                  <dd><a href="analytics.html">Integrando com o Google Analytics</a></dd>
                  <dt>Artigos úteis</dt>
                  <dd><a href="templates_good_practices.html">Boas práticas para construção de mensagens</a></dd>
                  <dd><a href="glossary.html">Glossário de termos de email marketing</a></dd>
                  <dd><a href="go_unsubscribe.html">Tela de descadastro</a></dd>
                </dl>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="feature">
      <div class="wrapper">
        <%= yield :header_section %>
        <%= yield :index_section %>
      </div>
    </div>
    <div id="container">
      <div class="wrapper">
        <div id="mainCol"><%= yield %></div>
      </div>
    </div>
    <hr class="hide">
    <div id="footer">
      <div class="wrapper">
        <p>Este trabalho é licenciado como <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0</a></p>
      </div>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17717880-1']);
      _gaq.push(['_setDomainName', '.mailee.me']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
